<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="EPiServer" value="http://nuget.episerver.com/feed/packages.svc/" />
    <add key="SwedbankPay" value="https://pkgs.dev.azure.com/SwedbankPay/swedbank-pay-sdk-dotnet/_packaging/SwedbankPaySdk/nuget/v3/index.json" />
    <add key="testdevfeed" value="https://pkgs.dev.azure.com/SwedbankPay/swedbank-pay-episerver-checkout/_packaging/testdevfeed/nuget/v3/index.json" />
  </packageSources>
  <disabledPackageSources>
    <add key="Microsoft and .NET" value="true" />
  </disabledPackageSources>
</configuration>
