<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<!-- In case configuration is not the root element, replace it with root element in source configuration file -->
<episerver.framework xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform" updateDatabaseSchema="true" xdt:Transform="SetAttributes">
  <licensing licenseFilePath="License.dev.config" xdt:Transform="Insert" />

  <blob defaultProvider="fileshare" xdt:Transorm="Insert">
    <providers>
      <add name="azureblobs" type="EPiServer.Azure.Blobs.AzureBlobProvider,EPiServer.Azure" connectionStringName="EPiServerAzureBlobs" container="mysitemedia" />
    </providers>
  </blob>
  <event defaultProvider="azureevents" xdt:Transorm="Insert">
    <providers>
      <add name="azureevents" type="EPiServer.Azure.Events.AzureEventProvider,EPiServer.Azure" connectionStringName="EPiServerAzureEvents" topic="MySiteEvents" />
    </providers>
  </event>

</episerver.framework>