<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<!-- In case configuration is not the root element, replace it with root element in source configuration file -->
<connectionStrings xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <add name="EPiServerDB" connectionString="Kommer från Azure" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  <add name="EcfSqlConnection" connectionString="Kommer från Azure" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  <add name="EPiServerAzureBlobs" connectionString="Kommer från Azure" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  <add name="EPiServerAzureEvents" connectionString="Kommer från Azure" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
</connectionStrings>