@model EPiServer.Commerce.Order.IPayment
<div>
	<h4>@Html.Translate("/OrderConfirmation/PaymentDetails")</h4>
	<p>@Model.PaymentMethodName</p>
	<p>TransactionId: @Model.ProviderTransactionID</p>
</div>