<connectionStrings>
<clear />
<add name="EPiServerDB" connectionString="Data Source=localmac,1401;Initial Catalog=SwedbankPay.Cms;User Id=SwedbankPayUser;Password=Episerver123!;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
<add name="EcfSqlConnection" connectionString="Data Source=localmac,1401;Initial Catalog=SwedbankPay.Commerce;User Id=SwedbankPayUser;Password=Episerver123!;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
<!--  
<add name="EPiServerAzureBlobs" connectionString="DefaultEndpointsProtocol=https;AccountName=ChangeThis;AccountKey=ChangeThis" />
<add name="EPiServerAzureEvents" connectionString="Endpoint=sb://ChangeThis.servicebus.windows.net/;SharedAccessKeyName=ChangeThis;SharedAccessKey=ChangeThis" />
-->
</connectionStrings>
