<?xml version="1.0" encoding="utf-8"?>
<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <episerver.framework>
    <appData basePath="App_Data" xdt:Transform="SetAttributes" />

    <blob defaultProvider="azureblobs" xdt:Transform="InsertIfMissing">
      <providers>
        <add name="azureblobs" type="EPiServer.Azure.Blobs.AzureBlobProvider,EPiServer.Azure" connectionStringName="EPiServerAzureBlobs" container="mysitemedia" />
      </providers>
    </blob>
    <event defaultProvider="azureevents" xdt:Transform="InsertIfMissing">
      <providers>
        <add name="azureevents" type="EPiServer.Azure.Events.AzureEventProvider,EPiServer.Azure" connectionStringName="EPiServerAzureEvents" topic="MySiteEvents" />
      </providers>
    </event>

  </episerver.framework>

</configuration>