<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Atata" version="1.9.0" targetFramework="net472" />
  <package id="Atata.WebDriverExtras" version="1.4.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="5.0.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
  <package id="NUnit" version="3.13.1" targetFramework="net472" />
  <package id="NUnit3TestAdapter" version="3.17.0" targetFramework="net472" developmentDependency="true" />
  <package id="Selenium.Firefox.WebDriver" version="0.27.0" targetFramework="net472" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net472" />
  <package id="Selenium.WebDriver.ChromeDriver" version="88.0.4324.9600" targetFramework="net472" />
  <package id="SwedbankPay.Sdk" version="1.0.0-beta0512" targetFramework="net472" />
</packages>